<% include ./partials/header %>

<div class="ui center aligned masthead container">
	<h1 class="ui header">Welcome To YelpCamp!</h1>
	<h2>View our hand-picked campgrounds from all over the world</h2>
	<a href="/campgrounds/new" class="ui huge primary button"> Add New Campground </a>
</div>

<div class="ui center aligned container">
	<div class="ui cards">
		<% campgrounds.forEach(function(campground) { %>
			<div class="ui raised centered card">
				<div class="image">
					<img src="<%= campground.image %>">
				</div>
				<div class="content">
					<a class="header"><%= campground.name %></a>
					<div class="meta">
						<span class="date">Created in <%= campground.created_at.toLocaleDateString() %></span>
					</div>
					<div class="description">
						<%= campground.description %>
					</div>
				</div>
				<div class="extra content">
					<a href="/campgrounds/<%= campground._id %>" class="ui blue fluid button">
						Show More
					</a>
				</div>
			</div>
		<% })%>
	</div>
</div>

	

<% include ./partials/footer %>