<% include ./../partials/header %>

<div class="ui container raised segment">
	<img class="ui big centered rounded image" src="<%= campground.image %>">
	<h1 class="ui header"><%= campground.name %></h1>
	<p class="justified"><%- campground.description %></p>
	<a class="ui right floated inverted blue icon link button" href="/campgrounds/<%= campground._id%>/comments/new" data-tooltip="New comment"><i class="comment icon"></i></a>
	<div class="ui dividing huge header">Comments</div>
	<div class="ui relaxed divided list">
		<% campground.comments.forEach(function(comment) { %>
			<div class="item">
				<i class="large user middle aligned icon"></i>
				<div class="content">
					<p class="header"><%= comment.author %></p>
					<div class="justified description"><%= comment.text %></div>
				</div>
			</div>
		<% }) %>
	</div>
</div>	

<% include ./../partials/footer %>